In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
#["japanese", "thai", "american", "seafood", "cafe"]

In [26]:
cuisines = pd.read_csv("FinalData/cuisines.csv").drop('Unnamed: 0', axis = 1)
cuisines_by_city = pd.read_csv("FinalData/cuisines_by_city.csv")

,City,Business ID,Total Check-Ins,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,Name,State,Category,Rating,Review Count
0,Las Vegas,hihud--QRriCYZw1zZvW4g,8917,886,742,840,850,866,843,951,848,623,574,608,286,Gangnam Asian BBQ Dining,NV,japanese korean bbq,4.5,3761.0
1,Las Vegas,FNe5PPA9pyj8FjcDefCBpg,3947,273,239,308,314,495,422,413,404,359,297,269,154,Weera Thai Restaurant - Sahara,NV,thai bars,4.5,1364.0
2,Las Vegas,QXV3L_QFGj8r6nWX2kS2hA,9893,728,755,890,836,1113,905,979,990,838,691,861,307,Nacho Daddy,NV,newamerican mexican breakfast_brunch,4.5,4649.0
3,Las Vegas,N0CoaG3cBrTGm2ecLYSzqA,1305,129,96,102,102,120,105,121,119,113,112,130,56,Lotus of Siam,NV,thai seafood wine_bars,4.5,1577.0
4,Las Vegas,e3PBfbtXUjMziX6XGsOMoA,6415,490,401,519,460,604,594,652,584,619,637,614,241,Cafe Sanuki,NV,japanese noodles cafes,4.5,1080.0
5,Charlotte,6hZgMg9rnDCC0RBVRlkZwQ,226,18,13,17,12,10,20,20,24,24,35,26,7,Mr Tokyo Japanese Restaurant,NC,japanese sushi salad,4.0,505.0
6,Charlotte,HhcBx0LSDkxRBKMkvkwSoA,225,17,26,27,21,35,23,21,19,12,4,16,4,Deejai Noodle Bar,NC,thai noodles cocktailbars,4.0,243.0
7,Charlotte,WbJ1LRQdOuYYlRLyTkuuxw,650,54,42,61,30,44,53,112,94,46,38,62,14,Tupelo Honey,NC,southern newamerican breakfast_brunch,4.0,2093.0
8,Charlotte,rZpESBojl8dTTWp6EwlEBQ,309,17,20,43,43,29,33,25,24,27,28,13,7,The Waterman Fish Bar,NC,seafood,4.0,349.0
9,Charlotte,gG9z6zr_49LocyCTvSFg0w,260,28,19,25,19,19,21,27,27,20,27,21,7,Amélie's French Bakery & Café,NC,bakeries cafes cakeshop,4.0,1827.0
10,Toronto,ZyOuwa3Eau6dbUiEPwsUoA,1432,16,15,12,10,30,116,321,267,189,185,208,63,Katsuya,ON,japanese,4.0,139.0
11,Toronto,ATaDg2kdS9GTln1-tS6iIw,1408,126,98,160,129,152,157,146,154,117,80,75,14,EAT BKK Thai Kitchen & Bar,ON,thai,4.5,209.0
12,Toronto,_xAJZOKBMPOe47p1MphB2w,258,15,16,17,18,24,22,41,27,40,13,22,3,Fishman Lobster Clubhouse Restaurant,ON,chinese seafood,4.0,911.0
13,Toronto,ocLnCE2E29j-CoBQj1yaSA,251,10,15,25,42,33,16,23,24,20,20,21,2,Cafe Landwer,ON,cafes breakfast_brunch mediterranean,4.0,313.0

In [20]:
lv_weather = pd.read_csv("WeatherData/LVMonthly2019.csv").drop('Unnamed: 0', axis = 1)
ch_weather = pd.read_csv("WeatherData/CHMonthly2019.csv").drop('Unnamed: 0', axis = 1)
tn_weather = pd.read_csv("WeatherData/TNMonthly2019.csv").drop('Unnamed: 0', axis = 1)
lv_temps = lv_weather['Average Temperature (F)']
ch_temps = ch_weather['Average Temperature (F)']
tn_temps = tn_weather['Average Temperature (F)']

In [22]:
lv_cuisines = cuisines_by_city.loc[cuisines_by_city['City'] == 'Las Vegas']
lv_cuisines

,City,Business ID,Total Check-Ins,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,Name,State,Category,Rating,Review Count
0,Las Vegas,hihud--QRriCYZw1zZvW4g,8917,886,742,840,850,866,843,951,848,623,574,608,286,Gangnam Asian BBQ Dining,NV,japanese korean bbq,4.5,3761.0
1,Las Vegas,FNe5PPA9pyj8FjcDefCBpg,3947,273,239,308,314,495,422,413,404,359,297,269,154,Weera Thai Restaurant - Sahara,NV,thai bars,4.5,1364.0
2,Las Vegas,QXV3L_QFGj8r6nWX2kS2hA,9893,728,755,890,836,1113,905,979,990,838,691,861,307,Nacho Daddy,NV,newamerican mexican breakfast_brunch,4.5,4649.0
3,Las Vegas,N0CoaG3cBrTGm2ecLYSzqA,1305,129,96,102,102,120,105,121,119,113,112,130,56,Lotus of Siam,NV,thai seafood wine_bars,4.5,1577.0
4,Las Vegas,e3PBfbtXUjMziX6XGsOMoA,6415,490,401,519,460,604,594,652,584,619,637,614,241,Cafe Sanuki,NV,japanese noodles cafes,4.5,1080.0

In [25]:
lv_cuisines.iloc[0, 3:15]

886